[email* email-947]<div class="contact-form">
		  	<div class="row inner">
			  	<div class="form-group col-lg-4">
				<input type="text" placeholder="Complate Name">
				</div> 
				<!-- end form-group -->
			  	<div class="form-group col-lg-4 col-md-6">
				<input type="text" placeholder="Email Address">
				</div> 
				<!-- end form-group -->
			  	<div class="form-group col-lg-4 col-md-6">
				<input type="text" placeholder="Phone No">
				</div> 
				<!-- end form-group -->
			  	<div class="form-group col-12">
					<textarea placeholder="Message"></textarea>
				</div> 
				<!-- end form-group -->
			  	<div class="form-group col-12">
					<input type="submit" value="SEND MESSAGE">
				</div> 
				<!-- end form-group -->
			  </div>
			  <!-- end row inner -->
		  </div>